/* CSS Grid Document */
body, div, h1, h2, h3, h4, h5, h6, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #233D4D;
    color: #FFF;
    font-size: 1.5em;
}

header {
    padding: 2em 0;
}

h1 {
    text-align: center;
}

.cssGrid {
    display: block;
    width: 100%;
}

#item1 {
    background-color: #A1C181;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}
#item2 {
    background-color: #619B8A;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}
#item3 {
    background-color: #A1C181;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}
#item4 {
    background-color: #619B8A;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}
#item5 {
    background-color: #A1C181;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}
#item6 {
    background-color: #619B8A;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}
#item7 {
    background-color: #A1C181;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}
#item8 {
    background-color: #619B8A;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}
#item9 {
    background-color: #A1C181;
    min-height: 300px;
    padding: 5% 2% 3% 2%;
}

@supports (grid-area: auto) {
    
    @media screen and (min-width: 600px) {
        .cssGrid {
            display: grid;
            width: 100%;
            grid-template-columns: 45% 45%;
            grid-template-areas:
                "it1 it1"
                "it2 it3"
                "it4 it4"
                "it5 it6"
                "it7 it7"
                "it8 it9";
            justify-content: center;
            grid-gap: 1% 1%;
            margin: 10% 0;
        }
        #item1 {
            grid-area: it1;
            background-color: #A1C181;
            min-height: 200px;
            border: 2px #FE7F2D solid;
        }
        #item2 {
            grid-area: it2;
            background-color: #619B8A;
            min-height: 300px;
            border: 2px #FE7F2D solid;
        }
        #item3 {
            grid-area: it3;
            background-color: #619B8A;
            min-height: 300px;
            border: 2px #FE7F2D solid;
        }
        #item4 {
            grid-area: it4;
            background-color: #A1C181;
            min-height: 200px;
            border: 2px #FE7F2D solid;
        }
        #item5 {
            grid-area: it5;
            background-color: #619B8A;
            min-height: 300px;
            border: 2px #FE7F2D solid;
        }
        #item6 {
            grid-area: it6;
            background-color: #619B8A;
            min-height: 300px;
            border: 2px #FE7F2D solid;
        }
        #item7 {
            grid-area: it7;
            background-color: #A1C181;
            min-height: 200px;
            border: 2px #FE7F2D solid;
        }
        #item8 {
            grid-area: it8;
            background-color: #619B8A;
            min-height: 300px;
            border: 2px #FE7F2D solid;
        }
        #item9 {
            grid-area: it9;
            background-color: #619B8A;
            min-height: 300px;
            border: 2px #FE7F2D solid;
        }
    }
    
    @media screen and (min-width: 1000px) {
        .cssGrid {
            display: grid;
            width: 100%;
            grid-template-columns: 30% 30% 30%;
            /* 90% screen - 10% = grid gap, margin & padding*/
            grid-template-areas:
                "it1 it2 it3"
                "it4 it5 it6"
                "it7 it8 it9";
            justify-content: center;
            grid-gap: 1% 1%;
            margin: 5% 0;
        }
        #item1 {
            grid-area: it1;
            background-color: #A1C181;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
        #item2 {
            grid-area: it2;
            background-color: #619B8A;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
        #item3 {
            grid-area: it3;
            background-color: #A1C181;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
        #item4 {
            grid-area: it4;
            background-color: #619B8A;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
        #item5 {
            grid-area: it5;
            background-color: #A1C181;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
        #item6 {
            grid-area: it6;
            background-color: #619B8A;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
        #item7 {
            grid-area: it7;
            background-color: #A1C181;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
        #item8 {
            grid-area: it8;
            background-color: #619B8A;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
        #item9 {
            grid-area: it9;
            background-color: #A1C181;
            min-height: 350px;
            border: 2px #FE7F2D solid;
        }
    } /* Closing Media Query Bracket */
    
    @media screen and (min-width: 1250px) {
        .cssGrid {
            width: 1250px;
            margin: 5% auto;
        }
    }
    
} /* Closing Support Query Bracket */

footer {
    width: 100%;
    padding: 5% 0 10% 0;
    font-size: .75em;
    text-align: center;
    background-color: #FE7F2D;
    color: #233D4D;
    
}
